body {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  background-image: radial-gradient(
      circle at 10px 10px,
      #111 1px,
      transparent 0
    ),
    radial-gradient(circle at 30px 30px, #111 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  overflow: hidden;
}
.MainBody {
  display: block;
  align-self: center;
  background-color: rgb(255, 255, 255);
  height: 50vh;
  width: 40vw;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  border: solid 0.3em;
  position: relative;
  transform: translateY(45%);
  border-color: rgb(0, 0, 0);
  transition: all 0.8s ease;
}

button {
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
